{% extends 'default.html.twig' %}
{% block title %}{{ 'meinidno.title'|trans }}{% endblock %}

{# Content #}
{% block content %}
  <div class="container-fluid">
    <div class="row my-3 justify-content-center">
      <div class="col-12 col-md-10 col-lg-8">
        <h1>{{ 'meinidno.title'|trans }}</h1>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8">
				<h3>Profil / Notfall-Daten</h3>
        <p>Hier können Sie Ihre Notfall-Daten verwalten.</p>

        <div class="row mt-3">
          <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
            <div class="d-grid mb-3">
              <a
                class="btn btn-outline-dark"
                href="{{ path('app_profile_edit') }}">
                {{ 'profile.edit.lbl'|trans }}
              </a>
            </div>
          </div>
{#}
          <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
            <div class="d-grid mb-3">
              <a
                class="btn btn-outline-dark"
                href="{{ path('app_contacts_index') }}">
                {{ 'contacts.index.lbl'|trans }}
              </a>
            </div>
          </div>
          #}
          <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
            <div class="d-grid mb-3">
              <a
                class="btn btn-outline-dark"
                href="{{ path('app_account_edit') }}">
                {{ 'account.edit.lbl'|trans }}
              </a>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
            <div class="d-grid mb-3">
              <a
                class="btn btn-outline-dark"
                href="{{ path('app_profile_delete') }}">
                {{ 'profile.delete.lbl'|trans }}
              </a>
            </div>
          </div>

          <div class="col-12 col-lg-8 col-xl-6">
            {# @TODO: Find a better solution for this div have btn look w/o hover! #}
            <div class="d-grid mb-3 btn border-{{ user.sichtbar == true ? 'dark' : 'warning' }}">
              <form
                role="form"
                action="{{ path('app_api_profile_pass_enable', { id: user.id }) }}"
                method="post"
                data-callback="pass_enable"
                class="">
                <div class="form-check form-check-inline form-switch">
                  <input
                    type="hidden"
                    name="sichtbar"
                    value="0" />
                  <label
                    class="form-check-label text-dark"
                    for="fldPassEnable">Notfall-ID Pass aktiv
                    {{ user.sichtbar == true
                      ? '<i class="bi bi-check-circle text-success ps-1"></i>'
                      : '<i class="bi bi-exclamation-triangle text-warning ps-1"></i>'
                    }}
                  </label>
                  <input
                    type="checkbox"
                    id="fldPassEnable"
                    class="form-check-input"
                    name="sichtbar"
                    value="1"
                    role="switch"
                    {{ user.sichtbar == true ? 'checked="checked"' }}
                    autocomplete="off" />
                  <input
                    type="hidden"
                    name="token"
                    value="{{ csrf_token('pass_enable') }}"/>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>

    {# id number #}
    <div class="row justify-content-center mt-3">
      <div class="col-12 col-md-10 col-lg-8">
				<h3>Übersicht: ID-Nummern</h3>
        <p>Hier können Sie weitere ID-Nummern aktivieren und Ihre bereits registrierten ID-Nummern einsehen und verwalten.</p>


        <table
          class="table table-sm table-hover"
          >
          <thead class="bg-light">
            <tr>
              <th scope="col">ID-Nummer</th>
              <th scope="col">Anbringung</th>
              <th scope="col">Aktivierung</th>
              <th scope="col" class="text-center">Aktion</th>
            </tr>
          </thead>
          <tbody>
            {% for item in items %}
            <tr data-id="{{ item.id }} ">
              <td>{{ item.idNo }}</th>
              <td>{{ item.anbringung|raw }}</th>
              <td>{{ item.aktiviertDatum|date('d.m.Y') }}</th>
              <td class="text-center">
                <button
                  class="btn btn-sm btn-outline-dark mx-1"

                  >
                  <i class="{{ settings.buttons.edit }}"></i>
                </button>
                <button
                  class="btn btn-sm btn-outline-dark mx-1"

                  >
                  <i class="{{ settings.buttons.delete }}"></i>
                </button>
              </th>
            {% endfor %}
          </tbody>
        </table>


      </div>
    </div>

    {# contacts #}
    <div class="row justify-content-center mt-3">
      <div class="col-12 col-md-10 col-lg-8">
        <h3>Meine Kontakte</h3>
				<div class="pb-2">
          Im Folgenden finden Sie eine Übersicht Ihrer Notfall-Kontakte:
        </div>

        <div id="toolbarContacts">
          <button
            type="button"
            class="btn btn-sm btn-outline-success mx-1 ajax-modal"
            data-url="{{ path('app_contacts_new', { personId:person.id }) }}">
            <i class="{{ settings.buttons.new }}"></i>
            {{ 'contacts.action.new.lbl'|trans }}
          </button>
        </div>

        <table
          id="tableContacts"
          data-toggle="table"
          data-classes="table table-sm table-hover"
          data-toolbar="#toolbarContacts"
          data-locale="{{ language }}"
          data-loading-template="loadingTemplate"
          data-buttons-class="outline-dark btn-sm"
          data-show-refresh="true"
          data-url="{{ path('app_api_contacts_read', { personId:person.id }) }}">
          <thead class="bg-light">
            <tr>
              <th data-field="contactname">{{ 'contact.table.contactname.lbl'|trans }}</th>
              <th data-field="telefon">{{ 'contact.table.telefon.lbl'|trans }}</th>
              <th data-field="beziehung">{{ 'contact.table.beziehung.lbl'|trans }}</th>
              <th
                data-width="100"
                data-align="right"
                data-field="operate"
                data-formatter="operateFormatter"
                data-events="operateEvents">{{ 'Aktion'|trans }}</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
