{% extends 'default.html.twig' %}
{% block title %}{{ 'newPassword.title'|trans }}{% endblock %}

{# Content #}
{% block content %}
  <div class="container-fluid">
    <div class="row my-3 justify-content-center">
      <div class="col-10 col-lg-8 col-xl-6">
        <h1>{{ 'newPassword.header'|trans }}</h1>
        <p>{{ 'newPassword.text'|trans }}</p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-10 col-lg-8 col-xl-6">
        {{ form_start(form) }}
        {{ form_end(form) }}
      </div>
    </div>
  </div>
{% endblock %}
