{% extends 'default.html.twig' %}
{% block title %}{{ 'resetPassword.title'|trans }}{% endblock %}

{# Content #}
{% block content %}
  <div class="container-fluid">
    <div class="row my-3 justify-content-center">
      <div class="col-10 col-lg-8 col-xl-6">
        <h1>{{ 'resetPassword.header'|trans }}</h1>
      </div>
    </div>

    {# flash messages | info #}
    {% set flashInfo = '' %}
    {% for flashMessage in app.flashes('loginInfo') %}
      {% set flashInfo = flashMessage %}
    {% endfor %}
    {% if flashInfo is defined and flashInfo is not empty %}
      <div class="row justify-content-center">
        <div class="col-10 col-lg-8 col-xl-6">
          <div
            class="alert alert-info alert-dismissible my-3"
            role="alert">
            <div class="d-flex">
              <div class="flex-shrink-0">
                <i class="bi bi-info-circle px-1"></i>
              </div>
              <div class="flex-grow-1 ms-2">
                {{ flashInfo }}
              </div>
            </div>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="alert"
              aria-label="Close"></button>
          </div>
        </div>
      </div>
    {% endif %}

    <div class="row justify-content-center">
      <div class="col-10 col-lg-8 col-xl-6">
        {{ 'resetPassword.text'|trans }}

        {{ form_start(form) }}
        {{ form_end(form) }}

      </div>
    </div>
  </div>
{% endblock %}
