{% extends 'default.html.twig' %}
{% block title %}{{ 'security.title'|trans }}{% endblock %}

{# Content #}
{% block content %}
  <div class="container">
    <div class="row my-3">
      <div class="col-12 col-md-10 col-lg-8">
        <h1>{{ 'security.title'|trans }}</h1>
      </div>
    </div>
    <div class="row py-3">
      <div class="col-12 col-md-10 col-lg-8">
        {{ 'security.text'|trans|raw|markdown_to_html }}
      </div>
			<div class="col-12 col-md-2 col-lg-3 offset-lg-1">
				<div class="row text-center">
					<div class="col-6 col-md-12">
						<img
							src="{{ asset('images/syss_certified_valid_2018-05_200px.png', 'media') }}"
							class="img-fluid"
							alt="ssys certified" />
					</div>
					<div class="col-6 col-md-12">
						<img
							src="{{ asset('images/Button_made%20in%20Germany_Datenhaltung.png', 'media') }}"
							class="img-fluid p-3"
							alt="Made in Germany" />
					</div>
				</div>
			</div>
    </div>
  </div>
{% endblock %}
