{{ form_errors(form) }}

<div class="row">
	<div class="col-8">
		{{ form_row(form.contactname) }}
	</div>
	<div class="col-2">
		{{ form_row(form.contactnameShow) }}
	</div>
</div>

<div class="row">
	<div class="col-8">
		{{ form_row(form.telefon) }}
	</div>
	<div class="col-2">
		{{ form_row(form.telefonShow) }}
	</div>
</div>

<div class="row">
	<div class="col-8">
		{{ form_row(form.beziehung) }}
	</div>
	<div class="col-2">
		{{ form_row(form.beziehungShow) }}
	</div>
</div>