{{ form_errors(form) }}

<div class="row">
  <div class="col-9 col-sm-4">
    {{ form_row(form.sprache) }}
  </div>
  <div class="col-9 col-sm-5">
    {{ 'person.sprache.text'|trans }}
  </div>
</div>
<hr />

<div class="row">
  <div class="col-9">
    <h2 class="mb-3">{{ 'person.personalDetails.lbl'|trans }}</h2>
  </div>
  <div class="col-3 d-block d-sm-none text-center">
    <h6 class="text-primary pt-2 small">{{ 'sichtbar'|trans }}</h6>
  </div>
</div>

<div class="row">
  <div class="col-9 col-sm-4">
    {{ form_row(form.anrede) }}
  </div>
</div>

<div class="row">
  <div class="col-9 col-sm-4">
    {{ form_row(form.vorname) }}
  </div>
  <div class="col-9 col-sm-5">
    {{ form_row(form.nachname) }}
  </div>
</div>

<div class="row">
  <div class="col-12 col-md-3 mb-1">
    {{ 'person.geburtsdatum.lbl'|trans }}
  </div>
  <div class="col-3 col-md-2">
    {{ form_row(form.geburtsdatumTag) }}
  </div>
  <div class="col-3 col-md-2">
    {{ form_row(form.geburtsdatumMonat) }}
  </div>
  <div class="col-3 col-md-2">
    {{ form_row(form.geburtsdatumJahr) }}
  </div>
</div>

<div class="row">
  <div class="col-9">
    {{ form_row(form.strasse) }}
  </div>
  <div class="col-3">
    {{ form_row(form.strasseShow) }}
  </div>
</div>

<div class="row">
  <div class="col-3">
    {{ form_row(form.plz) }}
  </div>
  <div class="col-6">
    {{ form_row(form.ort) }}
  </div>
  <div class="col-3">
    {{ form_row(form.ortShow) }}
  </div>
</div>

<div class="row">
  <div class="col-9">
    {{ form_row(form.zusatz) }}
  </div>
  <div class="col-3">
    {{ form_row(form.zusatzShow) }}
  </div>
</div>

<div class="row">
  <div class="col-9">
    {{ form_row(form.land) }}
  </div>
</div>

<div class="row">
  <div class="col-2">
    {{ form_row(form.telefonLand) }}
  </div>
  <div class="col-3">
    {{ form_row(form.telefonVorwahl) }}
  </div>
  <div class="col-4">
    {{ form_row(form.telefon) }}
  </div>
  <div class="col-3">
    {{ form_row(form.telefonShow) }}
  </div>
</div>

<div class="row">
  <div class="col-2">
    {{ form_row(form.mobileLand) }}
  </div>
  <div class="col-3">
    {{ form_row(form.mobileVorwahl) }}
  </div>
  <div class="col-4">
    {{ form_row(form.mobile) }}
  </div>
  <div class="col-3">
    {{ form_row(form.mobileShow) }}
  </div>
</div>

<div class="row border border-default rounded mb-3">
  <div class="col-3 col-lg-2 userIconContainer">
    {% set personImage = person.imageSrc is defined and person.imageSrc != 'null'
      ? person.imageSrc
      : asset('images/no_image-120x120.png', 'media')
    %}
    <div
      class="userIcon m-2"
      style="background-image: url('{{ personImage }}');" alt="{{ person.vorname|raw }} {{ person.nachname|raw }}">
    </div>
  </div>

  <div class="col-6 col-lg-7">
    <div
      class="ajax-upload text-center alert"
      data-action="{{ path('app_api_person_upload', { id:person.id })}}"
      data-progress-container="upload-progress">
      <div>
        <label
          for="photo-upload-file"
          class="photo-upload pointer">
          <span class="d-block">
            <i class="bi bi-upload pe-1"></i>
            {{ 'Laden Sie ein Foto hoch oder machen Sie ein Selfie.'|trans }}</span>
        </label>
      </div>

      <input
        id="photo-upload-file"
        style="display:none;"
        type="file"
        name="file"
        accept="image/jpeg, image/png, image/gif"
        data-error-header="{{ 'Error'|trans }}"
        data-error-wrong-type="{{ 'Wrong file type, please use JPG-files only!'|trans }}"
        data-error-to-big="{{ 'File to large!'|trans }}"
        data-file-mode="insert" />
    </div>

    <div id="upload-progress">
      <progressItem class="d-none">
        <div
          class="alert border-success alert-dismissible fade show d-flex align-items-center"
          role="alert">
          <i class="bi bi-file-earmark fs-2 fileicon"></i>
          <div class="w-100 ps-2">
            <div class="pb-1">
              <span class="filename text-truncate"></span>
            </div>
            <div class="progress">
              <div class="progress-bar bg-success progress-bar-striped progress-bar-animated overflow-visible" style="width:0%;">
                <span class="status small">0%</span>
              </div>
            </div>
          </div>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close"></button>
        </div>
      </progressItem>
    </div>
    {#{ form_row(form.personImage) }#}
  </div>
  <div class="col-3">
    <div class="pt-3">
      {{ form_row(form.imageShow) }}
    </div>
  </div>
</div>

<div class="row">
  <div class="col bg-dark rounded">
    <h4 class="text-light my-3">{{ 'person.medicalDetails.lbl'|trans }}</h4>
    <div class="row">
      <div class="col-9">
        {{ form_row(form.blutgruppe) }}
      </div>
      <div class="col-3 text-light">
        {{ form_row(form.blutgruppeShow) }}
      </div>
    </div>

    <div class="row">
      <div class="col-9">
        {{ form_row(form.erkrankungen) }}
        
        <ul id="person_passEntryConditions"
          class="pass-entry-list"
          data-index="{{ form.passEntryConditions|length > 0 ? form.passEntryConditions|last.vars.name + 1 : 0 }}"
          data-prototype="{{ form_widget(form.passEntryConditions.vars.prototype)|e('html_attr') }}">
          {% for entry in form.passEntryConditions %}
              <li>{{ form_row(entry) }}</li>
          {% endfor %}
        </ul>

        {#{{ form_row(form.passEntryConditions) }}#}
        <button type="button" class="btn add-item-widget" data-list-selector="person_passEntryConditions">+</button>
      </div>
      <div class="col-3 text-light">
        {{ form_row(form.erkrankungenShow) }}
      </div>
    </div>

    <div class="row">
      <div class="col-9">
        {{ form_row(form.medikamente) }}

        <ul id="person_passEntryMedications"
          class="pass-entry-list"
          data-index="{{ form.passEntryMedications|length > 0 ? form.passEntryMedications|last.vars.name + 1 : 0 }}"
          data-prototype="{{ form_widget(form.passEntryMedications.vars.prototype)|e('html_attr') }}">
          {% for entry in form.passEntryMedications %}
              <li>{{ form_row(entry) }}</li>
          {% endfor %}
        </ul>

        <button type="button" class="btn add-item-widget" data-list-selector="person_passEntryMedications">+</button>
      </div>
      <div class="col-3 text-light">
        {{ form_row(form.medikamenteShow) }}
      </div>
    </div>

    <div class="row">
      <div class="col-9">
        {{ form_row(form.allergieen) }}

        <ul id="person_passEntryAllergies"
          class="pass-entry-list"
          data-index="{{ form.passEntryAllergies|length > 0 ? form.passEntryAllergies|last.vars.name + 1 : 0 }}"
          data-prototype="{{ form_widget(form.passEntryAllergies.vars.prototype)|e('html_attr') }}">
          {% for entry in form.passEntryAllergies %}
              <li>{{ form_row(entry) }}</li>
          {% endfor %}
        </ul>

        <button type="button" class="btn add-item-widget" data-list-selector="person_passEntryAllergies">+</button>
      </div>
      <div class="col-3 text-light">
        {{ form_row(form.allergieenShow) }}
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        {{ form_row(form.gewicht) }}
      </div>
      <div class="col-3">
        {{ form_row(form.gewichtEinheit) }}
      </div>
      <div class="col-3 text-light">
        {{ form_row(form.gewichtShow) }}
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        {{ form_row(form.groesse) }}
      </div>
      <div class="col-3">
        {{ form_row(form.groesseEinheit) }}
      </div>
      <div class="col-3 text-light">
        {{ form_row(form.groesseShow) }}
      </div>
    </div>

    <div class="row">
      <div class="col-9">
        {{ form_row(form.operations) }}
      </div>
      <div class="col-3 text-light">
        {{ form_row(form.operationsShow) }}
      </div>
    </div>

    <h4 class="text-light my-3">{{ 'person.krankenversicherungDetails.lbl'|trans }}</h4>
    <div class="row">
      <div class="col-9">
        {{ form_row(form.krankenversicherung) }}
      </div>
      <div class="col-3 text-light">
        {{ form_row(form.krankenversicherungShow) }}
      </div>
    </div>

    <div class="row">
      <div class="col-9">
        {{ form_row(form.versicherungsnummer) }}
      </div>
      <div class="col-3 text-light">
        {{ form_row(form.versicherungsnummerShow) }}
      </div>
    </div>

    <div class="row">
      <div class="col-9">
        {{ form_row(form.zusatzversicherung) }}
      </div>
      <div class="col-3 text-light">
        {{ form_row(form.zusatzversicherungShow) }}
      </div>
    </div>

    <h4 class="text-light my-3">{{ 'person.morePatientDetails.lbl'|trans }}</h4>
    <div class="row mb-3">
      <div class="col-9 text-light">
        {{ form_row(form.organspender) }}
      </div>
      <div class="col-3 text-light">
        {{ form_row(form.organspenderShow) }}
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-9 text-light">
        {{ form_row(form.patientenverf) }}
      </div>
      <div class="col-3 text-light">
        {{ form_row(form.patientenverfShow) }}
      </div>
    </div>

    <div class="row">
      <div class="col-9">
        {{ form_row(form.weitereangaben) }}
      </div>
      <div class="col-3 text-light">
        {{ form_row(form.weitereangabenShow) }}
      </div>
    </div>
  </div>
</div>