{% import _self as formMacros %}
<fieldset class="form-floating">
    <h4 class="sub-head small">{{ 'person.medication.lbl'|trans }} <span class="loop-value">{{ loop }}</span></h4>
    <div class="row">
        <div class="col-md-9">
            <div class="row">
                <div class="col-6">
                    {{ form_row(item.ingredient) }}
                </div>
                <div class="col-6">
                    {{ form_row(item.tradeName) }}
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    {{ form_row(item.dosage) }}
                </div>
                <div class="col-6">
                    {{ form_row(item.consumption) }}
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    {{ form_row(item.comment) }}
                </div>
                <div class="col-6">
                    {{ form_row(item.emergencyNotes) }}
                </div>
            </div>
        </div>
        <div class="col-md-3 text-end">
            {{ form_row(item.remove) }}
        </div>
    </div>
</fieldset>