<div class="modal-dialog modal-fullscreen-md-down">
  <div class="modal-content">
    {{ form_start(form, {'attr': {'class':'ajax-form', 'data-table':'#idno-profiles', 'data-bs-table':'tableItems' } }) }}
      <input
          type="hidden"
          name="_token"
          value="{{ csrf_token('delete' ~ person.id) }}"/>
      <div class="modal-header">
        <h1 class="modal-title fs-5">
          {{ 'person.action.delete.header'|trans }}
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{ 'person.action.delete.text'|trans({ '%person%': person.fullName|raw })|markdown_to_html }}
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-dark"
          data-bs-dismiss="modal"
          aria-label="Close">
          {{ 'No'|trans }}
        </button>
        <button
          type="submit"
          class="btn btn-primary">
          {{ 'Yes'|trans }}
        </button>
      </div>
    {{ form_end(form) }}
  </div>
</div>
