<div class="modal-dialog modal-lg modal-fullscreen-lg-down">
  <div class="modal-content">
    {{ form_start(form, {'attr': {'class':'ajax-form', 'data-table':'#idno-profiles' } }) }}
      <div class="modal-header">
        <h1 class="modal-title fs-5">
          {{ 'person.new.lbl'|trans }}
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="{{ 'btn.cancel.lbl'|trans }}"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col">
            <div class="row">
              <div class="col-6">
                {{ form_row(form.vorname) }}
              </div>
              <div class="col-6">
                {{ form_row(form.nachname) }}
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                {{ form_row(form.anrede) }}
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                {{ form_row(form.terms) }}
                <div class="py-2">{{ 'person.terms.txt'|trans|raw|markdown_to_html }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-dark"
          data-bs-dismiss="modal"
          aria-label="{{ 'btn.cancel.lbl'|trans }}">
          {{ 'btn.cancel.lbl'|trans }}
        </button>
        <button
          type="submit"
          class="btn btn-primary">
          {{ 'Save'|trans }}
        </button>
      </div>
    {{ form_end(form) }}
  </div>
</div>
