{% extends 'default.html.twig' %}
{% block title %}{{ 'meinidno.title'|trans }}{% endblock %}

{# content #}
{% block content %}
  <div class="container-fluid">
    <div class="row my-3 justify-content-center">
      <div id="myIdNoHeader" class="col-12 col-md-10 col-lg-8">
        <h1>{{ 'meinidno.title'|trans }}</h1>
      </div>
    </div>

    {# missing email verification #}
    {% if user.status == 'unlogged' %}
      <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
          <div
            class="alert alert-warning my-3"
            role="alert">
            <div class="d-flex">
              <div class="flex-shrink-0">
                <i class="bi bi-exclamation-triangle px-1"></i>
              </div>
              <div class="flex-grow-1 ms-2">
                {{ 'meinidno.profile.missingEmailVerfication'|trans({
                  '%nutzerAuth_request%': path('app_api_profile_email_auth_request')
                }) }}
                <a
                  class="alert-link pointer ajax-action"
                  data-url="{{ path('app_api_profile_email_auth_request') }}">
                  {{ 'meinidno.profile.missingEmailVerfication.link.lbl'|trans }}
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endif %}

    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8">
        <h3>{{ person.fullName }}</h3>
        <p>{{ 'meinidno.profile.description'|trans }}</p>

        <div class="row mt-3">
          <div class="col-12 col-sm-6 col-xl-5">
            <div class="d-grid mb-3">
              <button
                type="button"
                class="btn btn-outline-dark ajax-modal"
                data-url="{{ path('app_person_edit', { id:person.id }) }}">
                {{ 'profile.edit.lbl'|trans }}
              </button>
            </div>
          </div>

          {# more than one profile? #}
          {% if person.nutzer.persons|length > 1 %}
            <div class="col-12 col-sm-6 col-xl-5">
              <div class="d-grid mb-3">
                <button
                  type="button"
                  class="btn btn-outline-dark dropdown-toggle"
                  data-bs-toggle="dropdown"
                  aria-expanded="false">
                  {{ 'profile.switch.lbl'|trans }}
                </button>
                <ul class="dropdown-menu">
                  {% for currentPerson in person.nutzer.persons %}
                    <li>
                      <a
                        class="dropdown-item text-dark"
                        href="{{ path('app_person_show', { id: currentPerson.id })}}">{{ currentPerson.fullName }}</a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          {% endif %}

          {# @TODO: Find a better solution for this div have btn look w/o hover! #}
{#
          <div class="col-12 col-lg-8 col-xl-6">
            <div class="d-grid mb-3 btn border-{{ user.sichtbar == true ? 'dark' : 'dark' }}">
              <form
                role="form"
                action="{{ path('app_api_profile_pass_enable', { id: user.id }) }}"
                method="post"
                data-callback="pass_enable"
                class="">
                <div class="form-check form-check-inline form-switch">
                  <input
                    type="hidden"
                    name="sichtbar"
                    value="0" />
                  <label
                    class="form-check-label text-dark pointer"
                    for="fldPassEnable">{{ 'meinidno.profile.check'|trans }}
                    <span class="icon">{{ user.sichtbar == true
                      ? '<i class="bi bi-check-circle text-success ps-1"></i>'
                      : '<i class="bi bi-exclamation-triangle text-warning ps-1"></i>'
                    }}</span>
                  </label>
                  <input
                    type="checkbox"
                    id="fldPassEnable"
                    class="form-check-input"
                    name="sichtbar"
                    value="1"
                    role="switch"
                    {{ user.sichtbar == true ? 'checked="checked"' }}
                    data-icon-on="bi bi-check-circle text-success ps-1"
                    data-icon-off="bi bi-exclamation-triangle text-warning ps-1"
                    autocomplete="off" />
                  <input
                    type="hidden"
                    name="token"
                    value="{{ csrf_token('pass_enable') }}"/>
                </div>
              </form>
            </div>
          </div> #}

        </div>
      </div>
    </div>

    {% include '_partials/person/show.html.twig' with { persons: person.nutzer.persons } %}

    <div class="row my-4">
      <div class="col-8 offset-2 text-start">
        <a
          href="{{ path('app_profile_index')}}"
          class="btn btn-outline-dark"
          aria-label="{{ 'profile.list.lbl'|trans }}">
          <i class="bi bi-arrow-bar-left me-1" aria-hidden="true"></i>
          {{ 'profile.index.lbl'|trans }}
        </a>
      </div>
    </div>
  </div>
{% endblock %}
