<!DOCTYPE html>
<html lang="{{ language }}">
  <head>
    {% if app.environment|lower == 'prod' %}
    {# ccm19 | needs to be the very first script on page! #}
      <script src="https://ccm.mp-group.cloud/public/app.js?apiKey=d7fdcc2471aeb1033cf0e51d4f48140ba1679d72607eb9b6&amp;domain=7bf67dd" referrerpolicy="origin"></script>
    {%- endif -%}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="index,follow" />
    <meta name="description" content="{{ 'meta.description.lbl'|trans }}">
    <title>{{ 'meta.title.lbl'|trans }} - {% block title %}Welcome!{% endblock %}</title>
    <link rel="shortcut icon" href="{{ asset('icon/favicon.png', 'media') }}" />
    <link rel="icon" href="{{ asset('icon/favicon.png', 'media') }}" />

    {% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}
    {% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
    {% block preloads %}{% endblock %}
  </head>
  <body>
    <script>0</script>
    {% apply spaceless %}
      {% block body %}{% endblock %}
    {% endapply %}

    {# toast | success #}
    <div
      aria-live="polite"
      aria-atomic="true"
      class="toast-container position-fixed top-0 end-0 pt-md-5 pe-md-5 mt-md-5 pt-1 pe-1 mt-1">
      <div
        id="toastContainer"
        class="toast"
        role="alert"
        data-success-header="{{ 'Success'|trans }}"
        data-warning-header="{{ 'Warning'|trans }}"
        data-danger-header="{{ 'Error'|trans }}">
        <div class="toast-header">
          <span class="me-auto text-light fw-bold"></span>
          <small></small>
          <button
            type="button"
            class="btn-close btn-close-white"
            data-bs-dismiss="toast"
            aria-label="{{ 'Close'|trans }}">
          </button>
        </div>
        <div class="toast-body"></div>
      </div>
    </div>

    {# modal #}
    <div
      id="modalContainer"
      class="modal fade"
      tabindex="-1">
    </div>

    {% block stylesheets_footer %}{{ encore_entry_link_tags('footer') }}{% endblock %}
    {% block javascripts_footer %}{{ encore_entry_script_tags('footer') }}{% endblock %}
  </body>
</html>
