<div class="modal-dialog modal-fullscreen-md-down">
  <div class="modal-content">
    {{ form_start(form, {'attr': {'class':'ajax-form', 'data-table':'tableItems'} }) }}
      <div class="modal-header">
        <h1 class="modal-title fs-5">
          {{ 'item.lbl'|trans }} {{ item.idNo|raw }}
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col mb-3">
            {{ form_row(form.status) }}
          </div>
        </div>
        <div class="row">
          <div class="col">
            {{ form_row(form.anbringung) }}
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-dark"
          data-bs-dismiss="modal"
          aria-label="Close">
          {{ 'Cancel'|trans }}
        </button>
        <button
          type="submit"
          class="btn btn-primary">
          {{ 'Save'|trans }}
        </button>
      </div>
    {{ form_end(form) }}
  </div>
</div>
