{% extends 'default.html.twig' %}
{% block title %}{{ 'Notfall-ID Pass'|trans }}{% endblock %}

{# Content #}
{% block content %}
  <div class="container-fluid">
    <div class="row my-3 justify-content-center">
      <div
        id="myIdNoHeader"
        class="col-10 col-lg-8 col-xl-6">
        <h1>{{ 'Notfall-ID Pass'|trans }}</h1>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-10 col-lg-8 col-xl-6 border">

        <div class="row py-3">
          <div class="col-12">
            {{ form_start(form) }}
              <div class="row">
                <div class="col-12">
                  {{ form_row(form.idno) }}
                </div>
              </div>

              <div class="row">
                <div class="col-12">
                  {{ form_row(form.email) }}
                </div>
              </div>

              <div class="row">
                <div class="col-12">
                  {{ form_row(form.plainPasswort.first) }}
                </div>
              </div>

              <div class="row">
                <div class="col-12">
                  {{ form_row(form.plainPasswort.second) }}
                </div>
              </div>

              <div class="row">
                <div class="col-12">
                  {{ form_row(form.anrede) }}
                </div>
              </div>

              <div class="row">
                <div class="col-12 col-sm-6">
                  {{ form_row(form.vorname) }}
                </div>
                <div class="col-12 col-sm-6">
                  {{ form_row(form.nachname) }}
                </div>
              </div>

              <div class="row">
                <div class="col-2">
                  {{ form_row(form.agb) }}
                </div>
                <div class="col-10">
                  {{ 'agb.text'|trans|raw|markdown_to_html }}
                </div>
              </div>

              <div class="row">
                <div class="col-2">
                  {{ form_row(form.sendInformation) }}
                </div>
                <div class="col-10">
                  {{ 'newsletter.text'|trans|raw|markdown_to_html }}
                </div>
              </div>

              <div class="row">
                <div class="col-12">
                  <button
                    type="submit"
                    class="btn btn-primary w-100">{{ 'Create Profile'|trans }}</button>
                </div>
              </div>
            {{ form_end(form) }}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}